<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="~/css/StyleSheet.css"/>
    </head>
    <body>
        <div class="navbar">
            <h1>Social Media Links</h1>
        </div>
        <div class="page-content">
            @RenderBody()
        </div>
    </body>
</html>