@using ConfigurationExample
@model WeatherApiOptions

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <ul>
            <li>@Model.ClientID</li>
            <li>@Model.ClientSecret</li>
        </ul>
    </body>
</html>