@{
    ViewBag.Title = "Home";
}

@using ConfigurationExample
@model Tuple<string, string>

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <ul>
            <li>@Model.Item1</li>
            <li>@Model.Item2</li>
            <li>@ViewBag.Env</li>
        </ul>
    </body>
</html>