@model CityWeather

<div class="box @(Model.TemperatureFahrengeit < 44 ? "blue-back" : 
    Model.TemperatureFahrengeit >= 44 && Model.TemperatureFahrengeit <= 74 ? "green-back" : "orange-back")">

    <div class="inline-block margin-left flex-borderless">
        <div class="text-left">
            <h2>@Model.CityName</h2>
            <span class="text-dark-grey">@Model.DateAndTime.ToShortTimeString()</span><br>
            <a href="/weather/@Model.CityUniqueCode">Details</a>
        </div>
        <div class="text-left padding-left margin-left border-left">
            <h1>@Model.TemperatureFahrengeit <span class="margin-bottom text-grey" style="font-size: xx-large;">°F</span> </h1>
        </div>
    </div>
</div>